{% extends 'videos/base.html' %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			{% for object in object_list %}
			<div class="card col-md-3 col-sm-12 mr-md-2 mt-5 p-3 border-0">
				<a href="{% url 'video-detail' object.pk %}"><img src="/media/{{ object.thumbnail }}" width="256" height="144"></a>
				<div class="card-body">
					<a class="link-text" href="{% url 'video-detail' object.pk %}"><h5 class="text-center">{{ object.title }}</h5></a>
					<p class="text-muted text-center m-0">{{ object.uploader }}</p>
					<p class="text-muted text-center">{{ object.date_posted | date:"M d, Y" }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}